<h3>Profilom kezelése</h3>
<hr>
<div id="messageBox"></div>

<div class="row">
    <div class="col-12 col-lg-6">
        <h5>Alapadatok</h5>

    
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
            <label for="emailField">Név</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwdField" placeholder="Password">
            <label for="passwdField">Email</label>
        </div>
    
    
        <button class="btn btn-primary mb-3" id="loginBtn" onclick="login()">Módosítás</button>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwdField" placeholder="Password">
            <label for="passwdField">Jelenlegi jelszó</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwdField" placeholder="Password">
            <label for="passwdField">Új jelszó</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwdField" placeholder="Password">
            <label for="passwdField">Új jelszó megerősítés</label>
        </div>

        <button class="btn btn-primary mb-3" id="loginBtn" onclick="login()">Belépés</button>
    


    </div>

</div>