<h3>Regisztráció</h3>
<hr>


<div class="form-floating mb-3">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nameField" placeholder="Password">
              <label for="nameField">Név</label>
          </div>
    <div class="form-floating mb-3">
    <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
    <label for="emailField">Email address</label>
  </div>
  
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="passwdField" placeholder="Password">
    <label for="passwdField">Jelszó</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="confirmPasswdField" placeholder="Password">
    <label for="confirmPasswdField">Jelszó megerősítése</label>
  </div>

  <button class="btn btn-primary" id="regBtn" onclick="registration()">Regisztráció</button>